.hamburger {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 3px;
  background: none;
  cursor: pointer;

  &__item {
    padding: 2px;
    width: 50px;
    height: 5px;
    background-color: white;
    transition: 0.3s linear;
    border-radius: 2px;
  }
}

.hidden {
  display: none;
}

.rotate {
  position: absolute;
  margin-bottom: 8px;
  transform: rotate(45deg);
}

.reverse-rotate {
  position: absolute;
  margin-top: 1px;
  transform: translateY(-5px) rotate(-45deg);
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  animation: circle 0.3s linear both;
}

@keyframes circle {
  from {
    height: 10px;
  }

  to {
    height: 40px;
  }
}


